AIRFLOW_UID=${AIRFLOW_UID}

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow static admin user
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW_FERNET_KEY=brOYf7ZXCgIXmYd4vuFnD3A6Qy8pZ/j73XPR0qT/ItyohoMAKjGr3i+mPUOfaOD5Obc2CzmH52tIWD4UrKy4mw==

GCP_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET=marketing_dataset
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/bq-service-account.json
