# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Airflow
logs/
airflow.db
airflow-webserver.pid

# Environment variables
.env

# Docker
*.log
*.pid
*.sock

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# GCP-BQ
keys/
*.json
